- name: Configure hosts
  hosts: "{{ target_hosts }}"
  become: true
  vars:
    host_ip: "{{ ansible_default_ipv4.address }}"
    hostnames:
      - "{{ cluster_domain }}"
      - "traefik.{{ cluster_domain }}"
      - "dashboard.{{ cluster_domain }}"
      - "grafana.{{ cluster_domain }}"
      - "iam.{{ cluster_domain }}"
      - "registry.{{ cluster_domain }}"
      - "mgmt.{{ cluster_domain }}"
      - "minio.{{ cluster_domain }}"
      - "argocd.{{ cluster_domain }}"
      - "maia.{{ cluster_domain }}"
      - "test.{{ cluster_domain }}"
      - "minio.test.{{ cluster_domain }}"
      - "login.{{ cluster_domain }}"
  tasks:
    - name: Ensure /etc/hosts contains all required host mappings
      ansible.builtin.lineinfile:
        path: /etc/hosts
        create: yes
        state: present
        regexp: "^{{ host_ip | regex_escape() }}\\s+{{ item | regex_escape() }}$"
        line: "{{ host_ip }} {{ item }}"
      loop: "{{ hostnames }}"
