apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Values.argo_namespace }}
spec:
  roles:
    - name: admin
      description: Admin privileges 
      policies:
        - p, {{ .Values.admin_group_ID }}, applications, get, {{ .Release.Name }}/*, allow
      groups:
        - {{ .Values.admin_group_ID}}
  destinations:
    - namespace: {{ .Values.namespace }}  
      server: {{ .Values.destination_server }}
  sourceRepos: {{ .Values.sourceRepos | toYaml | nindent 4 }}
