#SPDX-License-Identifier: MIT-0
---
# NFS Server tasks
- name: Install NFS server packages
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  loop: "{{ nfs_server_packages }}"

- name: Create export directory
  ansible.builtin.file:
    path: "{{ nfs_export_path }}"
    state: directory
    owner: "{{ nfs_export_owner }}"
    group: "{{ nfs_export_group }}"
    mode: "{{ nfs_export_mode }}"

- name: Configure NFS exports
  ansible.builtin.lineinfile:
    path: /etc/exports
    line: "{{ nfs_export_path }} {{ nfs_export_options }}"
    regexp: "^{{ nfs_export_path | regex_escape() }}"
    state: present
  notify: restart nfs server

- name: Enable and start NFS server
  ansible.builtin.service:
    name: nfs-kernel-server
    state: started
    enabled: yes

- name: Allow NFS clients to access NFS server
  ansible.builtin.ufw:
    rule: allow
    from_ip: "{{ item }}"
    to_port: "{{ nfs_port }}"
  loop: "{{ groups['nfs_clients'] | map('extract', hostvars, ['ansible_default_ipv4', 'address']) | list }}"
  when: groups['nfs_clients'] is defined

