#SPDX-License-Identifier: MIT-0
---
- name: Ensure lvm2 is installed
  package:
    name: lvm2
    state: present

- name: Create volume group "MAIA_Storage" using per-host devices
  community.general.lvg:
    vg: MAIA_Storage
    pvs: "{{ device_list }}"

- name: Create logical volume 'maia_0_local' in volume group 'MAIA_Storage'
  community.general.lvol:
    vg: MAIA_Storage
    lv: maia_0_local
    size: "{{ local_storage_size | default('100%FREE') }}"

- name: Check filesystem format of /dev/MAIA_Storage/maia_0_local
  command: blkid -o value -s TYPE /dev/MAIA_Storage/maia_0_local
  register: volume_format
  changed_when: false
  failed_when: false

- name: Show volume format
  debug:
    msg: "Filesystem format is: {{ volume_format.stdout | default('unformatted') }}"

- name: Format volume to ext4 if not formatted
  filesystem:
    fstype: ext4
    dev: /dev/MAIA_Storage/maia_0_local
  when: volume_format.stdout == ""


- name: Create logical volume 'maia_0' in volume group 'MAIA_Storage' only for nfs_server
  when: "'nfs_server' in group_names"
  community.general.lvol:
    vg: MAIA_Storage
    lv: maia_0
    size: "{{ nfs_storage_size | default('100%FREE') }}"

- name: Check filesystem format of /dev/MAIA_Storage/maia_0
  when: "'nfs_server' in group_names"
  command: blkid -o value -s TYPE /dev/MAIA_Storage/maia_0
  register: nfs_volume_format
  changed_when: false
  failed_when: false  

- name: Show NFS volume format
  when: "'nfs_server' in group_names"
  debug:
    msg: "NFS volume filesystem format is: {{ nfs_volume_format.stdout | default('unformatted') }}" 

- name: Format NFS volume to ext4 if not formatted
  when: "'nfs_server' in group_names and nfs_volume_format.stdout == ''"
  filesystem:
    fstype: ext4
    dev: /dev/MAIA_Storage/maia_0

- name: Get UUID of /dev/MAIA-storage/maia-local
  command: blkid -s UUID -o value /dev/MAIA_Storage/maia_0_local
  register: uuid_output_local

- name: Print UUID of /dev/MAIA-storage/maia-local
  debug:
    msg: "UUID: {{ uuid_output_local.stdout }}"

- name: Add entry to /etc/fstab for /dev/MAIA-storage/maia-local if it doesn't exist
  lineinfile:
    path: /etc/fstab
    line: "UUID={{ uuid_output_local.stdout }} /opt/local-path-provisioner ext4 defaults 0 0"
    state: present
    create: yes
    insertafter: EOF

- name: Get UUID of /dev/MAIA_Storage/maia_0
  command: blkid -s UUID -o value /dev/MAIA_Storage/maia_0
  when: "'nfs_server' in group_names"
  register: uuid_output_nfs

- name: Print UUID of /dev/MAIA_Storage/maia_0
  when: "'nfs_server' in group_names"
  debug:
    msg: "UUID: {{ uuid_output_nfs.stdout }}"

- name: Add entry to /etc/fstab for /dev/MAIA_Storage/maia_0 if it doesn't exist
  when: "'nfs_server' in group_names"
  lineinfile:
    path: /etc/fstab
    line: "UUID={{ uuid_output_nfs.stdout }} /nfs ext4 defaults 0 0"
    state: present
    create: yes
    insertafter: EOF
