- name: Include environment variables
  ansible.builtin.include_vars:
    file: "{{ config_folder }}/env.json"
  when: config_folder is defined

- name: Read cluster config YAML file
  ansible.builtin.slurp:
    src: "{{ config_folder }}/{{ cluster_name }}.yaml"
  register: cluster_config_content

- name: Extract domain from cluster config
  set_fact:
    domain: "{{ (cluster_config_content.content | b64decode | from_yaml).domain }}"

- name: Extract rancher_password from cluster config
  set_fact:
    rancher_password: "{{ (cluster_config_content.content | b64decode | from_yaml).rancher_password }}"
- name: Get Rancher token
  ansible.builtin.shell:
    cmd: |
      curl -s -k -X POST \
        -H 'Content-Type: application/json' \
        -d "{\"username\":\"admin\", \"password\":\"{{ rancher_password }}\"}" \
        https://mgmt.{{ domain }}/v3-public/localProviders/local?action=login \
        | jq -r '.token'
  register: rancher_token
  changed_when: false
  when: configure_rancher | default(true) | bool

- name: Accept the EULA
  ansible.builtin.shell:
    cmd: |
      curl -s -k -X POST \
        -H "Authorization: Bearer {{ rancher_token.stdout }}" \
        https://mgmt.{{ domain }}/v3/settings/accepts-end-user-license-agreement?action=set \
        -d '{"value":"true"}'
  register: eula_accepted
  changed_when: false
  when: configure_rancher | default(true) | bool

- name: Configure Harbor with OIDC authentication
  ansible.builtin.shell:
    cmd: |
      curl -s -k -X PUT "https://registry.{{ domain }}/api/v2.0/configurations" \
        -H "Content-Type: application/json" \
        -u "{{ harbor_admin_user }}:{{ harbor_admin_pass }}" \
        -d '{
              "auth_mode": "oidc_auth",
              "oidc_name": "MAIA",
              "oidc_endpoint": "https://iam.{{ domain }}/realms/maia",
              "oidc_client_id": "maia",
              "oidc_client_secret": "{{ keycloak_client_secret }}",
              "oidc_scope": "openid profile email",
              "oidc_verify_cert": false,
              "oidc_groups_claim": "groups",
              "oidc_admin_group": "MAIA:admin"
            }'
  register: harbor_configured
  changed_when: false
  when: configure_harbor | default(true) | bool
