- name: Include environment variables
  ansible.builtin.include_vars:
    file: "{{ config_folder }}/env.json"
  when: config_folder is defined

- name: Read cluster config YAML file
  ansible.builtin.slurp:
    src: "{{ config_folder }}/{{ cluster_name }}.yaml"
  register: cluster_config_content

- name: Extract domain from cluster config
  set_fact:
    domain: "{{ (cluster_config_content.content | b64decode | from_yaml).domain }}"

- name: Extract rancher_password from cluster config
  set_fact:
    rancher_password: "{{ (cluster_config_content.content | b64decode | from_yaml).rancher_password }}"
- name: Get Rancher token
  ansible.builtin.shell:
    cmd: |
      curl -s -k -X POST \
        -H 'Content-Type: application/json' \
        -d "{\"username\":\"admin\", \"password\":\"{{ rancher_password }}\"}" \
        https://mgmt.{{ domain }}/v3-public/localProviders/local?action=login \
        | jq -r '.token'
  register: rancher_token
  changed_when: false

- name: Accept the EULA
  ansible.builtin.shell:
    cmd: |
      curl -s -k -X POST \
        -H "Authorization: Bearer {{ rancher_token }}" \
        https://mgmt.{{ domain }}/v3/settings/accepts-end-user-license-agreement?action=set \
        -d '{"value":"true"}'
  register: eula_accepted
  changed_when: false