#SPDX-License-Identifier: MIT-0
---
- name: Check if Kubernetes CA certificate exists
  become: true
  ansible.builtin.stat:
    path: "{{ kubernetes_ca_crt_path }}"
  register: kubernetes_ca_crt

- name: Check if Kubernetes CA key exists
  become: true
  ansible.builtin.stat:
    path: "{{ kubernetes_ca_key_path }}"
  register: kubernetes_ca_key

- name: Fail if Kubernetes CA certificate or key not found
  ansible.builtin.fail:
    msg: "Kubernetes CA cert or key not found in expected paths."
  when: not kubernetes_ca_crt.stat.exists or not kubernetes_ca_key.stat.exists



- name: Ensure cert-manager namespace exists
  become: true
  ansible.builtin.command: microk8s.kubectl create namespace {{ cert_manager_namespace }}
  register: create_cert_manager_ns
  failed_when: create_cert_manager_ns.rc != 0 and 'AlreadyExists' not in (create_cert_manager_ns.stderr | default(''))
  changed_when: "'Created' in (create_cert_manager_ns.stdout | default(''))"


- name: Create kubernetes-ca secret in cert-manager namespace
  become: true
  ansible.builtin.command: >
    microk8s.kubectl -n {{ cert_manager_namespace }}
    create secret tls {{ kubernetes_ca_secret_name }}
    --cert={{ kubernetes_ca_crt_path }} --key={{ kubernetes_ca_key_path }}
  register: create_secret
  failed_when: create_secret.rc != 0 and 'AlreadyExists' not in (create_secret.stderr | default(''))
  changed_when: "'Created' in create_secret.stdout"


- name: Show secret creation result
  ansible.builtin.debug:
    msg: "{{ create_secret.stdout if create_secret.stdout else create_secret.stderr }}"

