---
- name: Include environment variables
  ansible.builtin.include_vars:
    file: "{{ config_folder }}/env.json"
  when: config_folder is defined

- name: Read cluster config YAML file
  ansible.builtin.slurp:
    src: "{{ config_folder }}/{{ cluster_name }}.yaml"
  register: cluster_config_content

- name: Extract domain from cluster config
  ansible.builtin.set_fact:
    domain: "{{ (cluster_config_content.content | b64decode | from_yaml).domain }}"

- name: Extract rancher_password from cluster config
  ansible.builtin.set_fact:
    rancher_password: "{{ (cluster_config_content.content | b64decode | from_yaml).rancher_password }}"

- name: Get ArgoCD admin token via curl
  ansible.builtin.command: >
    curl -k -X POST -H 'Content-Type: application/json'
    -d '{ "username": "admin", "password": "{{ rancher_password }}" }'
    "https://mgmt.{{ domain }}/v3-public/localProviders/local?action=login"
  register: argocd_token_response

- name: Show ArgoCD token response
  ansible.builtin.debug:
    var: argocd_token_response.stdout

- name: Create Rancher API key via curl
  ansible.builtin.command: >
    curl -k
    -H "Authorization: Bearer {{ argocd_token_response.stdout | from_json | json_query('token') }}"
    -H 'Content-Type: application/json'
    -d '{ "type": "token", "description": "cli-generated-api-key" }'
    "https://mgmt.{{ domain }}/v3/token"
  register: rancher_api_key_response

- name: Show Rancher API Key token response
  ansible.builtin.debug:
    var: rancher_api_key_response.stdout

- name: Register API secret key from Rancher API key response
  ansible.builtin.set_fact:
    api_secret: "{{ rancher_api_key_response.stdout | from_json | json_query('token') }}"

- name: Generate kubeconfig via Rancher API
  ansible.builtin.command: >
    curl -k
    -u "{{ api_secret }}"
    -X POST
    "https://mgmt.{{ domain }}/v3/clusters/local?action=generateKubeconfig"
  register: rancher_kubeconfig_response
  retries: 3
  delay: 20
  until: rancher_kubeconfig_response.rc == 0

- name: Extract kubeconfig YAML from Rancher response
  ansible.builtin.set_fact:
    kubeconfig_yaml: "{{ (rancher_kubeconfig_response.stdout | from_json).config }}"

- name: Save kubeconfig YAML to file
  ansible.builtin.copy:
    content: "{{ kubeconfig_yaml }}"
    dest: "{{ config_folder }}/{{ kubeconfig_file }}"
  delegate_to: localhost

- name: Extract token from rancher local kubeconfig
  ansible.builtin.set_fact:
    rancher_token: "{{ (kubeconfig_yaml | from_yaml).users[0].user.token }}"

- name: Write rancher token to cluster config
  ansible.builtin.lineinfile:
    path: "{{ config_folder }}/{{ cluster_name }}.yaml"
    line: "rancher_token: {{ rancher_token }}"
    create: true
    regexp: "^rancher_token:.*$"
  delegate_to: localhost


