- name: Include MicroK8s external variables (env.json)
  include_vars:
    file: "{{ config_folder }}/env.json"
  
- name: Get MicroK8s config
  command: microk8s config
  register: microk8s_config_output

- name: Write MicroK8s config to local file
  become: false
  local_action:
    module: copy
    content: "{{ microk8s_config_output.stdout }}"
    dest: "{{ DEPLOY_KUBECONFIG }}"

- name: Replace server in kubeconfig to use localhost
  become: false
  local_action:
    module: lineinfile
    path: "{{ DEPLOY_KUBECONFIG }}"
    regexp: '^(\s*server\s*:\s*)https?://.*:\d+'
    line: "    server: https://127.0.0.1:{{ microk8s_port_forward_port }}"
    backrefs: yes

- name: Copy rootCA certificate to local file
  fetch:
    src: "/var/snap/microk8s/current/certs/ca.crt"
    dest: "{{ config_folder }}/ca.crt"
    flat: yes
    mode: '0600'

#- name: Copy ca.crt to /usr/local/share/ca-certificates/
#  become: true
#  delegate_to: localhost
#  ansible.builtin.copy:
#    src: "{{ config_folder }}/ca.crt"
#    dest: /usr/local/share/ca-certificates/ca.crt
#    owner: root
#    group: root
#    mode: '0644'

#- name: Update ca-certificates
#  become: true
#  delegate_to: localhost
#  ansible.builtin.shell: |
#    update-ca-certificates --fresh

- name: Kill any process currently listening on port forwarding port (if exists)
  ansible.builtin.shell: |
    if lsof -i :{{ microk8s_port_forward_port }} -t >/dev/null 2>&1; then
      lsof -i :{{ microk8s_port_forward_port }} -t | xargs kill -9
    fi
  ignore_errors: true
  delegate_to: localhost
  when: microk8s_enable_port_forwarding | bool

- name: Start SSH port forward in background (localhost)
  ansible.builtin.shell: |
    nohup ssh -L {{ microk8s_port_forward_port }}:127.0.0.1:16443 {{ inventory_hostname }} -N -o ExitOnForwardFailure=yes &
  async: 0
  poll: 0
  delegate_to: localhost
  when: microk8s_enable_port_forwarding | bool