{{- if .Values.minio.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: minio-api
  annotations:
  {{- if .Values.minio.ingress.annotations }}
    {{- toYaml .Values.minio.ingress.annotations | nindent 4 }}
  {{- end }}
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - minio.{{ .Values.minio.ingress.host }}
      {{- if .Values.minio.ingress.tlsSecretName }}
      secretName: minio.{{ .Values.minio.ingress.tlsSecretName }}
      {{- end }}
  rules:
    - host: minio.{{ .Values.minio.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: minio
                port:
                  number: 80
{{- end }}